<H1>Todo</H1>

<div class="container">

    @if(form.dirty && form.invalid) {
        <div class="alert alert-warning">Enter valid values!</div>
    }

    @if(form.dirty && title.invalid) {
        <div class="alert alert-warning">Enter valid todo title at least 2 characters!</div>
    } 

    <form (ngSubmit)="!form.invalid && save()" #form="ngForm">

        <fieldset class="form-group">
            <label>Title</label>
            <input type="text" [(ngModel)]="model.title" 
            #title="ngModel"
            class="form-control" name="title" required="required" minlength="2">
            <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                Title is required
            </div>
        </fieldset>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">Save</button>
            <button type="button" class="btn btn-warning" (click)="cancel()">Cancel</button>
        </div>
    </form>

</div>